body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  display: block;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.menu li {
  margin-right: 1rem;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -8px;
}

.gallery-item {
  max-width: 150px;
  margin: 8px;
}

.gallery-item img {
  display: block;
}

.field-item {
  margin-bottom: 1rem;
}
