body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.menu li {
  margin-right: 1rem;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.gallery-item img {
  display: block;
}
